<mat-toolbar color="primary">
  <button routerLink="/"
   mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>home</mat-icon>
  </button>
  <span>E Cart</span>
  <span class="example-spacer"></span>
  <button routerLink="/cart"
  mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    {{cartlist.length}}
    <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <div>
      <ul>
        <li>
          <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-description>
        Furniture
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ul>
      <li routerLink="/furniture/beds">Beds</li>
      <li routerLink="/furniture/chairs">Chairs</li>
      <li routerLink="/furniture/tables">Tables</li>
    </ul>
  </mat-expansion-panel>
        </li>
        <li>
          <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-description>
        Electronics
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ul>
      <li  routerLink="/electronics/tvs">Tvs</li>
      <li routerLink="/electronics/phones">Mobiles</li>
      <li routerLink="/electronics/laptops">Laptops</li>
    </ul>
  </mat-expansion-panel>
        </li>
        <li>
          <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-description>
        Fashions
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ul>
      <li routerLink="/fashions/mens">Mens</li>
      <li routerLink="/fashions/kids">Kids</li>
      <li routerLink="/fashions/womens">Womens</li>
    </ul>
  </mat-expansion-panel>
        </li>

      </ul>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>